<mat-table [dataSource]="certificateList" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{ 'CERTIFICATE_NAME' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="link">
      <mat-header-cell *matHeaderCellDef> {{ 'LINK' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.link }} </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>