<div>
  <mat-select [(value)]="translate.currentLang" (selectionChange)="switchLang($event.value)">
    <mat-option value="en">English</mat-option>
    <mat-option value="pt">Português</mat-option>
    <mat-option value="fr">Français</mat-option>
  </mat-select>
</div>

<mat-table [dataSource]="crewList">

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> {{ 'FIRST_NAME' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> {{ 'LAST_NAME' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.lastName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nationality">
    <mat-header-cell *matHeaderCellDef> {{ 'NATIONALITY' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.nationality }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> {{ 'TITLE' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="daysOnBoard">
    <mat-header-cell *matHeaderCellDef> {{ 'DAYS_ON_BOARD' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.daysOnBoard }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dailyRate">
    <mat-header-cell *matHeaderCellDef> {{ 'DAILY_RATE' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.dailyRate }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="currency">
    <mat-header-cell *matHeaderCellDef> {{ 'CURRENCY' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="totalIncome">
    <mat-header-cell *matHeaderCellDef> {{ 'TOTAL_INCOME' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.totalIncome }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>